
:root {
  --scroll-color: ;
  --scroll-bar-color: ;
}

.hi-container h1 {
  font-size: 20rem;
  font-family:  sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  -webkit-text-stroke: 3px #21113b;
  color: #12091a;
}

.Hero-Container {
  display: flex;
  background: #0f0715;
  padding: 3rem 3rem 3rem 3rem;
}

.hero-content {
  width: 100%;
  padding: 0;
  justify-content: space-around;
}

.name-job-about {
  width: 40%;
}

.Name {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.Job {
  font-weight: 700;

  background: linear-gradient(rgb(152, 105, 248), rgb(208, 187, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-job {
  max-width: fit-content;
}

.About {
  font-size: 1.2rem;
  color: white;
}

.cv {
  width: 15rem;
  height: 3.5rem;
  border-radius: 30px;
  color: rgb(152, 105, 248);
  border: 1px solid rgb(152, 105, 248);
  cursor: pointer;
}
.linkone {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 1px solid rgb(152, 105, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(152, 105, 248);
  margin-left: 1rem;
  cursor: pointer;
}

.linkone-small{
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 1px solid rgb(152, 105, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(152, 105, 248);
  cursor: pointer;
  margin-right:0.5rem ;
}


.big-image {
  width: 27rem;
  height: 27rem;
  background-color: rgb(14, 19, 22);
  border: 2px solid rgb(28, 14, 51);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

.cv-and-social {
  margin-top: 4rem;
}

::-webkit-scrollbar {
  height: 2px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1031;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(152, 105, 248);
  border-radius: 10px;
}

.navlinks-dropdown-container {
  overflow: hidden;
  background: #4e14e2;
  width: 100%;
}

.navlinks-dropdown-container ul {
  display: flex;
  flex-direction: column;
}

.navlinks-dropdown-container ul li {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
}

.bottom-hero-links {
  background-color: red;
  display: flex;
}

.cv-bottom {
  width: 10rem;
  height: 3.5rem;
  border-radius: 30px;
  color: rgb(152, 105, 248);
  border: 1px solid rgb(152, 105, 248);
  cursor: pointer;
}

.border-container {
  width: 100%;
}
