/* FONT FAMILY AND STYLES */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --deep-bg-color: rgb(15, 7, 21);
  --white-color: #f3f2f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover-container {
  background: linear-gradient(to right,rgb(133, 100, 197), rgb(100, 49, 212));

}




/* background: linear-gradient(rgb(163, 51, 249)), rgb(87, 6, 149); */
